<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="{% static 'app/css/bootstrap.css' %}">

    <!--Owl Carousel CSS-->
    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">

    <!--FontAwesome CSS-->
    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}">

    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">

     <!--awesomefont-->
    <link rel="stylesheet" href="{% static 'app/css/fontawesome.css' %}">
        <style>
        .image-thumbail {
            height: 200px;
            object-fit: cover;
        }

        .list-group-item a {
            text-decoration: none;
            color: black;
        }
    </style>
    <title>Awesome image {% block title %} {% endblock title %} </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light header__navbar">
     <div class="container">
       <a class="navbar-brand" href="{% url 'home' %}">Image</a>
       <div class=" navbar navbar-right">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" id ="navbarSupportedContentLG">
          {% if request.user.is_authenticated %}
           <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown">
                {{request.user.username|capfirst}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown" id ="navbarSupportedContentLG">
                <li><a class="dropdown-item" href="{% url 'gallery' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
          {% else %}
           <li><a href="{% url 'login' %}" class="nav-link ">Login</a></li>
            <li ><a href="{% url 'register' %}" class="nav-link ">Registration</a></li>
          {% endif %}
          </ul>
       </div>
     </div>
    </nav>     
    {% block banner_slider %} {% endblock banner_slider %}
    {% block livesale %} {% endblock livesale %}
    {% block main-content %} {% endblock main-content %}

    <!-- Start Footer -->
    <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom" style="background-color: rgba(0, 0, 0, 0.05);">
    <div class="me-5 d-none d-lg-block" >
      <span>Get connected with us on social networks:</span>
    </div>
    <div>
      <a href="https://www.facebook.com/S.kingkong/" class="me-4 text-reset"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/Sundramsahu" class="me-4 text-reset"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/yoyo_sundram/" class="me-4 text-reset"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/sundram-sahu-b5b232217/" class="me-4 text-reset"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/sundramsahu" class="me-4 text-reset"><i class="fab fa-github"></i></a>
    </div>
    <!-- Right -->
  </section>

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.10);">
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This image Website  by sundram sahu

  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

    <!-- Jquery -->
    <script src="{% static 'app/js/bootstrap.js' %}"></script>
    <script src="{% static 'app/js/jquery.js' %}"></script>
    <script src="{% static 'app/js/popper.js' %}"></script>
    <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'app/js/all.min.js' %}"></script>
    <script src="{% static 'app/js/myscript.js' %}"></script>
    <script src="{% static 'app/js/fontawesome.js' %}"></script>
  </body>
</html>